$defaultColor: #2e3436;
$background: #eeeeec;
$tocBackground: #f8f8f8;
$tocBorder: #eee;
$pageborder: #3465a4;
$linkcolor: #3465a4;
$visitedcolor: #204a87;
$hovercolor: #729fcf;

/* STYLE RESET */
* { 
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
    margin: 0 0 0 0;
}

h2 {
    margin: {
        top: 8px;
    }
}

li, dd, blockquote {
    margin-left: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END RESET */

body {
    color: $defaultColor;
    background: $background;
    text-align: left;
    margin: {
        top: 0px;
        left: auto;
        bottom: 0px;
        right: auto;
    }
    font: {
        style: normal;
        weight: normal;
        size: 1.2em;
    }
    width: 38em;
    line-height: 1.6em;
}

#content {

    a {
        border-bottom: 1px solid $pageborder;
    }

    p {
        margin: {
            bottom: 0;
        }
    
    }
    
    ul, ol {
        margin: {
            top: 0.7em;
            left: 0;
            bottom: 0.7em;
            right: 0;
        }
    }
    
    p + p {
        text-indent: 1em
    }
}

#toc {
    float: right;
    border: 1px solid $tocBorder;
    h2 {
        font: {
            style: normal;
            weight: bold;
            size: 12pt;
        }
        text: {
            align: center;
        }
        margin-bottom: 8px;
    }
    font: {
        size:10pt;
    }
    li {
        margin: {
            left: 36px;
            right: 36px;
        }
    }
    margin: {
        top: -70px;
        left: 30px;
        right: 0px;
        bottom: 30px;
    }
    background: $tocBackground;
    li {
        list-style-type: lower-roman;
    }
}

div#header {
    border-bottom: 1px solid $pageborder;
    margin-bottom: 30px;
    padding: 9px 0px 0px 0px;
    text-align: right;
}

div#logo {
    font: {
        style: normal;
        weight: normal;
        size: 1.2em;
    }
    img {
        width: 4em;
        float: right;
        display: inline-block;
    }
}

div#navigation {
    text-align: right;
    a {
        font: {
            size: 0.8em;
            weight: bold;
        }
        border: none;
        margin-left: 16px;
        text-decoration: none;
        text-transform: lowercase;
    }
    i {
        margin-right: 2px;
    }
}

.snippets {
    i {
        margin-right: 2px;
    }
}

div#footer {
    border-top: solid 1px #5F819D;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
    a {
        border: none;
    }
}

h1 {
    font-size: 24px;
    margin: {
        bottom: 1em;
    }
}

h2 {
    font-size: 16px;
    margin: {
        bottom: 1em;
    }
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

a
{
    text-decoration: none;
    color: $linkcolor;
    :visited {
        color: $visitedcolor;
    }
    :hover {
        color: $hovercolor;
    }
}

.home a
{
    color: #5F819D !important;
}

.code
{
    font-family: monospace;
}
